{% extends 'base.html.twig' %}

{% block title %}Hello TricountController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Tricount ✅</h1>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        <div>
            {{ form_row(form.title) }}
             {# {{ form_errors(form.title) }} #}
        </div>
        <div>
            {{ form_row(form.content) }}
        </div>
        <div>
            {{ form_row(form.devise) }}
            <p>(EUR, USD, CHF )</p>
        </div>
        <button class="btn">{{ button_label|default('save') }}</button>
    {{ form_end(form) }}

</div>
{% endblock %}
