<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tricount wish !{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <style>
            body{
                margin: 0;
            }
            .navBar{
                background-color: darkgreen;
                color: white;
                width: 100vw;
                font-size: 5vh;
                display: flex;
                justify-content: space-between;
            }
            .navBar > *{
                flex: 1 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .navBar a {
                padding:0 10px;
                margin:0 10px;
                font-size: 2.5vh;
                color: white;
                border-radius: 10px;
            }
            .navBar a:hover{
                color: darkgreen;
                background-color: white;
                text-decoration: none;
            }
            .red:hover{
                background-color: red !important;
                color: white !important;
            }
             .container{
                display: flex;
                justify-content: center;
                padding-top:  15vh;
            }
            .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        </style>
        <nav class="navBar">
            <div></div>
            <div> 💰 TriCount 💰 </div>
            <div>
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path("app_register") }}">Se Connecter</a>
                    <a href="{{ path("sign") }}">S'inscrire</a>
                {% else %}
                    <a class="red" href="{{ path('app_logout') }}">Déconnexion</a>
                {% endif %}
            </div>
        </nav>

        {% block body %}
        {% endblock %}
    </body>
</html>
