{% extends 'base.html.twig' %}

{% block body %}

    <div style="display:flex; justify-content:center;">
        <div>
            {% if app.user %}
                Vous êtes connectez avec {{ app.user.username }}
                <p>Lien d'invitation du TriCount : {{ invitation_link }}</p>
                <button> 
                    <a href="{{ path('graph') }}">Consulter mon dernier TriCount</a>
                </button>
                <button> 
                    <a href="{{ path('tricount') }}">Créer un TriCount</a>
                </button>
            {% else %}
                <h1>Bienvenue sur TriCount Wish !</h1>
                <a href="{{ path("app_register") }}">Se connecter</a>
            {% endif %}
        </div>
    </div>
{% endblock %}